# ignore all
*

# unignore all dirs
!*/

# unignore all with extensions
!*.*

## above combination will ignore all files without extension (go binaries for example)

# unignore necessary files without extension
!Makefile
!Dockerfile
!LICENSE

# below are the usual ignores
.DS_Store
.env
.env.local
.curl
