<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <style>
        .moonbg {
            background-image: url("//images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/1c8ec16167de5c4ea63bd2f1/pexels-photo-399973.jpeg");
            background-position: 50% 38.33%;
        }

    </style>
</head>
<body class="moonbg">
    <div class="prose">
        <div class="flex h-screen">
            <div class="m-auto">
                <h1 class="text-slate-100">Moonbase</h1>
            </div>
        </div>
    </div>
</body>
</html>
